#mainHead {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#subHead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.pgraph {
    line-height: 25px;
}

a {
    text-decoration: none;
}

div > #upperCase {
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

img {
    float: left;
    padding: 20px 30px;
}